Django==4.1.2
django_environ==0.10.0
djangorestframework==3.14.0
drf_yasg==1.21.5
filetype==1.2.0
Pillow==10.0.0
pymongo==4.3.3
PyMuPDF==1.22.5
celery==5.3.4
django-celery-beat==2.5.0
django-celery-results==2.5.1
ipython==8.16.0
django-cors-headers==4.3.1